*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(79, 75, 75);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    padding: 1.25rem 3rem 1.25rem 3rem;
    border: none;
    font-size: 2rem;
    border-radius: 2rem;
}
.box{
    position: absolute;
    height: 250px;
    width: 300px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    transition: visibility 0.4s ease;
}
.open-popup{
    visibility: visible;
}
.box i{
    font-size: 4rem;
    transform: translate(0,-33%);
    color: rgb(0, 255, 17);
}
.box p{
    margin: 1rem;
}
.ok{
    margin-top: 1rem;
    width: 70%;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color:  rgb(0, 255, 17);
    border: none;
    color: white;
}
